apiVersion: apps/v1
kind: Deployment
metadata:
  name: kumo
spec:
  selector:
    matchLabels:
      app: kumo
  replicas: 1
  template:
    metadata:
      labels:
        app: kumo
    spec:
      containers:
        - name: kumo
          image: ghcr.io/kumocorp/kumomta:2025.12.02-67ee9e96
          volumeMounts:
            - name: kumo-policy
              mountPath: /opt/kumomta/etc/policy
            - name: kumo-dkim-secrets
              mountPath: /opt/kumomta/etc/dkim/ieeetamu.org
            - name: brevo-secrets
              mountPath: /var/run/secrets/brevo
            - name: kumo-spool
              mountPath: /tmp/kumo-spool
          ports:
            - name: smtp
              containerPort: 25
            - name: metrics
              containerPort: 8000
          
      volumes:
        - name: kumo-policy
          configMap:
            name: kumo-policy
        - name: kumo-dkim-secrets
          secret:
            secretName: kumo-dkim-secrets
        - name: brevo-secrets
          secret:
            secretName: brevo-secrets
        # this is primarily an outbound relay so not holding onto mail
        # is fine... if it fails and the pod restarts, its fine to lose
        - name: kumo-spool
          emptyDir: {}
