apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: homepage
spec:
  routes:
    - match: Host(`ieeetamu.org`)
      kind: Rule
      services:
        - name: homepage
          port: 3000
