apiVersion: apps/v1
kind: Deployment
metadata:
  name: vaultwarden
spec:
  selector:
    matchLabels:
      app: vaultwarden
  replicas: 1
  template:
    metadata:
      labels:
        app: vaultwarden
    spec:
      containers:
        - name: vaultwarden
          image: vaultwarden/server:1.35.3
          ports:
            - containerPort: 80
          envFrom:
            - configMapRef:
                name: vaultwarden-config
            - configMapRef:
                name: vaultwarden-smtp-config
            - secretRef:
                name: vaultwarden-secrets
          env:
            - name: DATABASE_URL
              value: mysql://$(DB_USER):$(DB_PASSWORD)@$(DB_HOST):$(DB_PORT)/$(DB_NAME)
