# NOTE: this middleware has had issues where if traefik cannot contact the plugins registry
# traefik will error out about not being able to find the plugin. Consider vendoring the plugin
# (keeping a local copy of https://github.com/BetterCorp/cloudflarewarp) if this becomes an issue.
# for now, we can just restart the traefik pod as needed to get the plugin working again.
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: cloudflare-realip
spec:
  plugin:
    cloudflarewarp:
      # do not use built in ips since those only count traffic from cloudflare
      disableDefault: true
      # since the traffic comes from the tunnel (internal) we need to trust the tunnel's ip
      trustip:
        - "10.42.0.0/16"
